
:root{
  --primary: #002053;
}

body {
  background-color: var(--primary);
}
::-webkit-scrollbar {
  width: 8px; 
  height: 1px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105);;
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

